@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'pretendard', system-ui, sans-serif;
  }
}

@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'inooariduri';
  src: url('/src/assets/fonts/RixInooAriDuri-Pro-Regular.woff') format('woff');
  font-style: normal;
}

.scrollbar {
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 20px; /* 스크롤바의 너비 */
}

.scrollbar::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #3d2907; /* 스크롤바의 색상 */
  border-radius: 10px;
  background-clip: padding-box;
  border: 5px solid transparent;
}

.scrollbar::-webkit-scrollbar-track {
  height: 20px;
  background: #dfc89cc9; /*스크롤바 뒷 배경 색상*/
  border-radius: 10px;
}

#toast-root {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 200;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 스크롤바의 폭 너비 */
.scrollbar-chat::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-chat::-webkit-scrollbar-thumb {
  background: rgba(9, 58, 91, 0.5); /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar-chat::-webkit-scrollbar-track {
  background: rgba(220, 20, 60, 0.1); /*스크롤바 뒷 배경 색상*/
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
